@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Sen:wght@400;700;800&family=Silkscreen:wght@400;700&display=swap');
:root {
    /* fonts */
    --font-sans-serif: "Sans Serif";
    --font-sen: "Sen";
  
    /* font sizes */
    --font-size-sm: 12px;
    --font-size-base: 20px;
    --font-size-lg: 20px;
  
    /* Colors */
    --color-white: #fff;
    --color-beige: #c0c0c0;
  }
  
  
  body {
    margin: 0;
    line-height: normal;
    background-color: #040814;
  }
  .background-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .login {
    display: block;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    border: 0.5px solid var(--color-white);
    background-color: #000000CC;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
    height: 50px;
    width: 147.75px;
    top: 1.57%;
    right: 2.5%;
    bottom: 93.06%;
    font-size: 18px;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    color: var(--color-white);
    text-align: center;
    position: fixed;
  }
  .login:hover{
    color: #000000;
    background-color: var(--color-white);
  }
  .logo-icon {
    width: 180px;
    height: 97.95px;
    overflow: hidden;
  }
  .bold-text{
    font-size: 44px;
    padding-top: 2rem;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #f8f8f8;
    text-align: left;
    display: inline-block;
    width: 687px;
    height: 78px;
  }
  .Email{
    background-color: #31343e;
    position: absolute;
    left: 0;
    top: 2px;
    font-size: var(--font-size-lg);
    font-family: 'Montserrat';
    padding-left: 16px;
    color: #BFBFBF;
    border: 1px solid #31343e;
    border-radius: 3px 0 0 3px;
    width: 502px;
    height: 46.53px;
  }
  .Email:focus{
    outline: none;
    border: 1px solid #757575;
  }
  input::placeholder{
    position: absolute;
    top: 25%;
    left: 16px;
    font-size: var(--font-size-lg);
    font-family: var(--font-sans-serif-collection);
    color: #757575;
    text-align: left;
  }
  .weiter {
    display: block;
    top: 2px;
    border-radius: 0 3px 3px 0;
    position: absolute;
    left: 37.2rem;
    width: 158px;
    height: 50px;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-size: var(--font-size-lg);
    font-family: 'Montserrat';
    color: #eef3f9;
    text-align: center;
    display: inline-block;
    background-color: #0063e5;
  }
  .weiter:hover{
    background-color: #016cf9;
  }
  .form {
    position: relative;
    width: 660px;
    height: 57px;
    flex-shrink: 0;
  }
  .erklärung {
    font-size: var(--font-size-base);
    font-family: 'Montserrat';
    width: 50rem;
    letter-spacing: 0.5px;
    color: var(--color-beige);
    text-align: left;
    display: inline-block;
  }
  .angebot{
    margin-top: 1.5rem;
    font-size: var(--font-size-base);
    font-family: 'Montserrat';
    width: 50rem;
    letter-spacing: 0.5px;
    color: var(--color-beige);
    text-align: left;
    display: inline-block;
  }
  .stream{
    margin-top: 2rem;
    font-size: var(--font-size-sm);
    font-family: 'Montserrat';
    width: 50rem;
    letter-spacing: 0.5px;
    color: var(--color-beige);
    text-align: left;
    display: inline-block;
  }
  .registration-formular {
    position: absolute;
    top: 220px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sec-img img{
    position: absolute;
    
    height: auto;
    width: 100%;
    color: #ffff;
    background: url('https://cnbl-cdn.bamgrid.com/assets/cc3e8300de39790778dfb48eb9aacf041b71fdf815f29b899efef61f28160f7c/original');
 }
 .sec{
  margin-top: 100vh;
  display: block;
  background-color: #040814;
  height: 100vh;
 }
